# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальные окружения
.venv/
venv/
env/

# Конфигурация пользователя
config.json

# Логи и временные файлы
*.log

# Специфические файлы ОС
.DS_Store
Thumbs.db
